@import "../../node_modules/bootstrap/scss/functions";

// Customize some defaults

$font-family-sans-serif: "Satoshi-Variable", "Satoshi-VariableItalic",
  sans-serif;
$body-color: #212121;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #28a745;
$primary: #4f5665;
$shadow-sm: 0px 0 1px rgba(0, 0, 0, 0.05);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
) !default;

// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

section {
  margin: 90px 0;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn {
  padding: 12px 60px;
  border-radius: 10px;
}
.hero-bg-section {
  h1 {
    max-width: 480px;
    font-weight: 500;
  }
}
.third-bg-section {
  li {
    display: flex;
    align-items: center;
  }
  h4 {
    max-width: 291px;
  }
  p {
    max-width: 430px;
  }
}
.cards-bg-section {
  ul {
    font-size: 14px;
  }

  .pricing-card {
    padding: 50px 72px;
    width: 100%;
  }
}

.swiper-section {
  .swiper {
    width: 100%;
    margin-bottom: 50px;
    height: 300px;
    .swiper-slide {
      width: 100%;
      text-align: start;
      font-size: 14px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .user-information {
        font-size: 10px;
      }
    }
  }
}

.footer-subscribe-top-on {
  background: rgb(222, 209, 209);
  .subscribe-section {
    .subscribe-part {
      transform: translateY(-100px);
      background: white;
      h1 {
        max-width: 434px;
      }
    }
  }
  .site-footer {

    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    .text-justify {
      max-width: 285px;
    }
    h6 {
      color: #130707;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 2px;
    }
    .footer-links {
      padding-left: 0;
      list-style: none;
      li {
        display: block;
        a {
          text-decoration: none;
          a:hover {
            color: #cc4733;
            text-decoration: none;
          }
        }
      }
    }
  }

  
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }
}
