@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn{
  padding: 12px 60px;
  border-radius: 10px;
}
.hero-bg-section{
    h1{
        max-width:520px;
        font-weight: 500;
    }
}